In [24]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [25]:
# create a num ranked column
df = pd.read_csv('data/clean.csv')
df['ranking'] = df['ranking'].str.replace('nan', '')
df['ranking'] = df['ranking'].str.replace(',,', '')
df['num_ranked'] = 0
for i in range(len(df['ranking'])):
    df['num_ranked'][i] = len(df['ranking'][i].split(','))
df['num_ranked'] = (df['num_ranked'] - 1) // 2
df.head()

/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/1702633909.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['num_ranked'][i] = len(df['ranking'][i].split(','))

,Timestamp,id,major_status,taken_courses,grad_semester,ranking_1,ranking_2,ranking_3,ranking_4,ranking_5,...,ranking_11,ranking_12,ranking_13,ranking_14,desired_amount_of_courses,percieved_amount_of_courses_needed,ranking_15,ranking_16,ranking,num_ranked
0,10/29/2023 18:04:33,0,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 211...",Spring 2025,"303-1, DATABASE SYSTEMS","428-1, GENERATIVE DATA MODELING","315-1, COMPUTER NETWORKS","214-1, WEB TECH (TBD)","310-1, ROBOTICS",...,NaN,NaN,NaN,NaN,3,2,NaN,NaN,"303-1, DATABASE SYSTEMS,428-1, GENERATIVE DATA...",5
1,10/30/2023 14:54:36,1,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 205...",Spring 2025,"304-1, ALGORITHMS","302-1, OBJECT-ORIENTED SOFTWARE DESIGN","315-1, COMPUTER NETWORKS","214-1, WEB TECH (TBD)","496-1, RESEARCH SEMINAR",...,NaN,NaN,NaN,NaN,4,3,NaN,NaN,"304-1, ALGORITHMS,302-1, OBJECT-ORIENTED SOFTW...",7
2,10/31/2023 13:53:58,2,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 212...",Spring 2025,"313-1, ALGORITHMIC GAME THEORY","302-1, OBJECT-ORIENTED SOFTWARE DESIGN","214-1, WEB TECH","303-1, DATABASE SYSTEMS","315-1, COMPUTER NETWORKS",...,NaN,NaN,NaN,NaN,3,2,NaN,NaN,"313-1, ALGORITHMIC GAME THEORY,302-1, OBJECT-O...",5
3,11/1/2023 12:36:27,3,intended CS major,COM 110 CC:INTRO COMP SCI & PROB SOLV,Spring 2027,"212-2, DATA STRUCTURES","212-1, DATA STRUCTURES",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1,NaN,NaN,"212-2, DATA STRUCTURES,212-1, DATA STRUCTURES",1
4,10/23/2023 14:02:40,4,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 212...",Spring 2025,"219-1, COMPUTER ORGANIZATION","304-1, ALGORITHMS","302-1, OBJECT-ORIENTED SOFTWARE DESIGN","303-1, DATABASE SYSTEMS","310-1, ROBOTICS",...,"214-1, WEB TECH (TBD)",NaN,NaN,NaN,3,3,NaN,NaN,"219-1, COMPUTER ORGANIZATION,304-1, ALGORITHMS...",11

In [26]:
# create a num_taken column
df['num_taken'] = 0
for i in range(len(df['taken_courses'])):
    if type(df['taken_courses'][i]) == str:
        df['num_taken'][i] = len(df['taken_courses'][i].split(','))
df.head()

/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/1485440699.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['num_taken'][i] = len(df['taken_courses'][i].split(','))

,Timestamp,id,major_status,taken_courses,grad_semester,ranking_1,ranking_2,ranking_3,ranking_4,ranking_5,...,ranking_12,ranking_13,ranking_14,desired_amount_of_courses,percieved_amount_of_courses_needed,ranking_15,ranking_16,ranking,num_ranked,num_taken
0,10/29/2023 18:04:33,0,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 211...",Spring 2025,"303-1, DATABASE SYSTEMS","428-1, GENERATIVE DATA MODELING","315-1, COMPUTER NETWORKS","214-1, WEB TECH (TBD)","310-1, ROBOTICS",...,NaN,NaN,NaN,3,2,NaN,NaN,"303-1, DATABASE SYSTEMS,428-1, GENERATIVE DATA...",5,6
1,10/30/2023 14:54:36,1,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 205...",Spring 2025,"304-1, ALGORITHMS","302-1, OBJECT-ORIENTED SOFTWARE DESIGN","315-1, COMPUTER NETWORKS","214-1, WEB TECH (TBD)","496-1, RESEARCH SEMINAR",...,NaN,NaN,NaN,4,3,NaN,NaN,"304-1, ALGORITHMS,302-1, OBJECT-ORIENTED SOFTW...",7,6
2,10/31/2023 13:53:58,2,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 212...",Spring 2025,"313-1, ALGORITHMIC GAME THEORY","302-1, OBJECT-ORIENTED SOFTWARE DESIGN","214-1, WEB TECH","303-1, DATABASE SYSTEMS","315-1, COMPUTER NETWORKS",...,NaN,NaN,NaN,3,2,NaN,NaN,"313-1, ALGORITHMIC GAME THEORY,302-1, OBJECT-O...",5,5
3,11/1/2023 12:36:27,3,intended CS major,COM 110 CC:INTRO COMP SCI & PROB SOLV,Spring 2027,"212-2, DATA STRUCTURES","212-1, DATA STRUCTURES",NaN,NaN,NaN,...,NaN,NaN,NaN,1,1,NaN,NaN,"212-2, DATA STRUCTURES,212-1, DATA STRUCTURES",1,1
4,10/23/2023 14:02:40,4,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 212...",Spring 2025,"219-1, COMPUTER ORGANIZATION","304-1, ALGORITHMS","302-1, OBJECT-ORIENTED SOFTWARE DESIGN","303-1, DATABASE SYSTEMS","310-1, ROBOTICS",...,NaN,NaN,NaN,3,3,NaN,NaN,"219-1, COMPUTER ORGANIZATION,304-1, ALGORITHMS...",11,2

In [27]:
# add column for semesters remaining
df['semesters_remaining'] = 0
for i in range(len(df['grad_semester'])):
    remaining = 0
    remaining += (int(df['grad_semester'][i][-2:]) - 23) * 2
    if df['grad_semester'][i][0] == 'S':
        remaining -= 1
    df['semesters_remaining'][i] = remaining
df.head()

/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2302927244.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['semesters_remaining'][i] = remaining

,Timestamp,id,major_status,taken_courses,grad_semester,ranking_1,ranking_2,ranking_3,ranking_4,ranking_5,...,ranking_13,ranking_14,desired_amount_of_courses,percieved_amount_of_courses_needed,ranking_15,ranking_16,ranking,num_ranked,num_taken,semesters_remaining
0,10/29/2023 18:04:33,0,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 211...",Spring 2025,"303-1, DATABASE SYSTEMS","428-1, GENERATIVE DATA MODELING","315-1, COMPUTER NETWORKS","214-1, WEB TECH (TBD)","310-1, ROBOTICS",...,NaN,NaN,3,2,NaN,NaN,"303-1, DATABASE SYSTEMS,428-1, GENERATIVE DATA...",5,6,3
1,10/30/2023 14:54:36,1,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 205...",Spring 2025,"304-1, ALGORITHMS","302-1, OBJECT-ORIENTED SOFTWARE DESIGN","315-1, COMPUTER NETWORKS","214-1, WEB TECH (TBD)","496-1, RESEARCH SEMINAR",...,NaN,NaN,4,3,NaN,NaN,"304-1, ALGORITHMS,302-1, OBJECT-ORIENTED SOFTW...",7,6,3
2,10/31/2023 13:53:58,2,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 212...",Spring 2025,"313-1, ALGORITHMIC GAME THEORY","302-1, OBJECT-ORIENTED SOFTWARE DESIGN","214-1, WEB TECH","303-1, DATABASE SYSTEMS","315-1, COMPUTER NETWORKS",...,NaN,NaN,3,2,NaN,NaN,"313-1, ALGORITHMIC GAME THEORY,302-1, OBJECT-O...",5,5,3
3,11/1/2023 12:36:27,3,intended CS major,COM 110 CC:INTRO COMP SCI & PROB SOLV,Spring 2027,"212-2, DATA STRUCTURES","212-1, DATA STRUCTURES",NaN,NaN,NaN,...,NaN,NaN,1,1,NaN,NaN,"212-2, DATA STRUCTURES,212-1, DATA STRUCTURES",1,1,7
4,10/23/2023 14:02:40,4,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 212...",Spring 2025,"219-1, COMPUTER ORGANIZATION","304-1, ALGORITHMS","302-1, OBJECT-ORIENTED SOFTWARE DESIGN","303-1, DATABASE SYSTEMS","310-1, ROBOTICS",...,NaN,NaN,3,3,NaN,NaN,"219-1, COMPUTER ORGANIZATION,304-1, ALGORITHMS...",11,2,3

In [28]:
# remove (TBD) from the end of some web tech entries
df.replace(to_replace='214-1, WEB TECH (TBD)', value='214-1, WEB TECH', inplace=True)
print(df['ranking_1'].unique())

['303-1, DATABASE SYSTEMS' '304-1, ALGORITHMS'
 '313-1, ALGORITHMIC GAME THEORY' '212-2, DATA STRUCTURES'
 '219-1, COMPUTER ORGANIZATION' '302-1, OBJECT-ORIENTED SOFTWARE DESIGN'
 '214-1, WEB TECH' '315-1, COMPUTER NETWORKS' '212-1, DATA STRUCTURES'
 '428-1, GENERATIVE DATA MODELING' '310-1, ROBOTICS'
 '496-2, RESEARCH SEMINAR' nan]

In [29]:
# create a column for each course in the ranking columns
rankings = [
    'ranking_1', 'ranking_2', 'ranking_3', 'ranking_4', 
    'ranking_5', 'ranking_6', 'ranking_7', 'ranking_8', 
    'ranking_9', 'ranking_10', 'ranking_11', 'ranking_12',
    'ranking_13', 'ranking_14', 'ranking_15', 'ranking_16',
    ]
courses = set()
for ranking in rankings:
    for i in range(len(df[ranking])):
        if type(df[ranking][i]) == str:
            col = df[ranking][i].split(',')[0]
            if not col in courses:
                courses.add(col)
                df[col] = 0
            df[col][i] = 1
            
df.head()

/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2386682451.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = 1
/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2386682451.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = 1
/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2386682451.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = 1
/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2386682451.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = 1
/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2386682451.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = 1
/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2386682451.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = 1
/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2386682451.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = 1
/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2386682451.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = 1
/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2386682451.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = 1
/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2386682451.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = 1
/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2386682451.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = 1
/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2386682451.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = 1
/var/folders/kg/hnwkrhks4jl7n3g4wwgnwt1h0000gn/T/ipykernel_14481/2386682451.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = 1

,Timestamp,id,major_status,taken_courses,grad_semester,ranking_1,ranking_2,ranking_3,ranking_4,ranking_5,...,212-2,219-1,302-1,214-1,315-1,212-1,428-1,310-1,496-2,496-1
0,10/29/2023 18:04:33,0,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 211...",Spring 2025,"303-1, DATABASE SYSTEMS","428-1, GENERATIVE DATA MODELING","315-1, COMPUTER NETWORKS","214-1, WEB TECH","310-1, ROBOTICS",...,0,0,0,1,1,0,1,1,0,0
1,10/30/2023 14:54:36,1,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 205...",Spring 2025,"304-1, ALGORITHMS","302-1, OBJECT-ORIENTED SOFTWARE DESIGN","315-1, COMPUTER NETWORKS","214-1, WEB TECH","496-1, RESEARCH SEMINAR",...,0,1,1,1,1,0,0,0,1,1
2,10/31/2023 13:53:58,2,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 212...",Spring 2025,"313-1, ALGORITHMIC GAME THEORY","302-1, OBJECT-ORIENTED SOFTWARE DESIGN","214-1, WEB TECH","303-1, DATABASE SYSTEMS","315-1, COMPUTER NETWORKS",...,0,0,1,1,1,0,1,0,0,0
3,11/1/2023 12:36:27,3,intended CS major,COM 110 CC:INTRO COMP SCI & PROB SOLV,Spring 2027,"212-2, DATA STRUCTURES","212-1, DATA STRUCTURES",NaN,NaN,NaN,...,1,0,0,0,0,1,0,0,0,0
4,10/23/2023 14:02:40,4,declared CS major,"COM 110 CC:INTRO COMP SCI & PROB SOLV, COM 212...",Spring 2025,"219-1, COMPUTER ORGANIZATION","304-1, ALGORITHMS","302-1, OBJECT-ORIENTED SOFTWARE DESIGN","303-1, DATABASE SYSTEMS","310-1, ROBOTICS",...,0,1,1,1,1,0,1,1,1,1

In [30]:
# save the dataframe
df.to_csv('data/clean2.csv', index=False)